[submodule "numapde-latex"]
	path = numapde-latex
	url = git@gitlab.hrz.tu-chemnitz.de:numapde-public/numapde-latex.git
[submodule "numapde-bibliography"]
	path = numapde-bibliography
	url = git@gitlab.hrz.tu-chemnitz.de:numapde-public/numapde-bibliography.git
